header{
    background-image: url(../images/lakescape-1368116.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
}

body{
        font-family: sans-serif;
}

nav {
    text-align: center;
        background-color: #37474f;
    padding: 5px;
}

nav ul{
    font-size: 1.2em;
}

nav ul li{
    text-align: center;
    background-color: #37474f;
    display: inline;
    padding: 15px;
    margin: 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}

nav ul :hover{

    background-color: lightgreen;

}

#content {
    float: left;
    width: 80%;
    margin-right: 10px;
    border: 1px solid grey;
}

aside{
    border: 5px solid #37474f;
    width:17%;
    float: right;
    text-align: left;
}

aside ul li a{
    color: blue;
    text-decoration: none;}

aside ul li {
    list-style-type: none;
    text-align: left;
}

.col_detail {
    column-count: 3;
    column-rule: 1px solid black;
    column-gap: 50px;
    padding: 2px;
}

footer {
    color: white;
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #37474f;
    
    text-align: center;
    
    float: right;
    display: inline-block;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li {
    color: black;
    display: inline-block;
    padding: 15px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    
}

section {
    background-color: #E8EAF6;
    color: black;
    align-content: center;
    padding: 10px;
}

<!--Gallery-->

#row{
    vertical-align: middle;
    justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  vertical-align: middle;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

<!--Contact-->

main{
    margin: 15px 200px;
    padding: 20px;
    border: solid black;
    background: white;
    min-height: 500px;
}

header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
}

.required{
    font-weight: bold;
    color: red;
}

label{
    float: left;
    width: 112px; 
    padding-right: 10px; 
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"] {
    width: 10px;
}

input[type="checkbox"] {
    width: 15px;
}

#button{
    margin-left: 138px;
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}

#reset{
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}